.home {
  position: relative;
  height: 100vh;
  background-color: #2b2a2a;
  font-family: "Montserrat", sans-serif;

  .left-side {
    position: absolute;

    -webkit-transform: translate(30%, 15%);
    -ms-transform: translate(30%, 15%);
    transform: translate(30%, 15%);
    h2 {
      font-size: 30px;
      color: #fcfcfc;
      margin-top: 300px;
    }
    p {
      font-size: 24px;
      width: 400px;
      color: rgba(252, 252, 252, 0.8);
    }
    button {
      font-family: "Montserrat", sans-serif;
      cursor: pointer;
      margin: 15px;
      padding: 20px;
      background: transparent;
      color: rgba(255, 255, 255, 0.8);
      border-radius: 50px;
      font-size: 14px;
      border: 1px solid #0099d3;
      letter-spacing: 0.08em;

      &:hover {
        color: #2b2a2a;
        background: #ecf0f1;
      }
    }
    @media screen and (max-width: 760px) {
      text-align: center;
      -webkit-transform: translate(0%, 0%);
      -ms-transform: translate(0%, 0%);
      transform: translate(0%, 0%);
      p {
        font-size: 18px;
        width: 100%;
        margin: 20px 0 50px 0;
        padding: 0 50px;
        color: rgba(252, 252, 252, 0.8);
      }
    }
  }
  @media (min-width: 100px) and (max-width: 400px) {
    h2 {
      font-size: 24px;
      color: #fcfcfc;
      margin-top: 300px;
    }
  }
  .right-side {
    img {
      width: 612px;
      height: 674.93px;
      position: relative;
      margin-left: 54.95em;
      margin-top: 5em;
      justify-items: end;
      flex-direction: column;
    }
  }
  @media screen and (max-width: 768px) {
    .right-side {
      display: none;
    }
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .home {
    height: 50vh;

    .right-side {
      img {
        margin-top: 15em;
        width: 400px;
        height: 400.93px;
        position: relative;
        float: right;
      }
    }
  }
}
